<h1><%= @project.name %> チケット一覧</h1>


<%= link_to '新規チケット',  new_project_ticket_path(params[:project_id]) %>
<%= link_to '簡易マニュアル',  manual_project_tickets_path(params[:project_id]), {:target => "_blank"} %>
<table>
  <tr>
    <th>チケット (<%= @tickets.count %>件)</th>
    <th>属性</th>
<% if(params[:asc]) %>
    <th><%= link_to "担当者", {:controller => :tickets, :action => :index, :sort => "person"} %></th>
    <th><%= link_to "優先度", {:controller => :tickets, :action => :index, :sort => "priority"} %></th>
    <th><%= link_to "更新日時", {:controller => :tickets, :action => :index, :sort => "updated_at"} %></th>
<% else %>
    <th><%= link_to "担当者", {:controller => :tickets, :action => :index, :sort => "person", :asc => "true"} %></th>
    <th><%= link_to "優先度", {:controller => :tickets, :action => :index, :sort => "priority", :asc => "true"} %></th>
    <th><%= link_to "更新日時", {:controller => :tickets, :action => :index, :sort => "updated_at", :asc => "true"} %></th>
<% end %>
    <th>コメント数</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
  <%= render partial: "ticket", :locals => { :ticket => ticket} %>
  </tr>
<% end %>
</table>
<br>
終了済み(最新の10件)<br>
<%= link_to "全ての終了済みチケットを見る", :show_more_project_tickets %><br>
<table>
<% @tickets_finished.each do |ticket| %>
  <tr>
  <%= render partial: "ticket", :locals => { :ticket => ticket} %>
  </tr>
<% end %>
</table>