<h1><%= @project.name %> チケット一覧</h1>


<%= link_to '新規チケット',  new_project_ticket_path(params[:project_id]) %>
<%= link_to '簡易マニュアル',  manual_project_tickets_path(params[:project_id]), {:target => "_blank"} %>
<table>
  <tr>
    <th>チケット名</th>
    <th>属性</th>
    <th>担当者</th>
<% if(params[:asc]) %>
    <th><%= link_to "優先度", {:controller => :tickets, :action => :index, :sort => "priority"} %></th>
<% else %>
    <th><%= link_to "優先度", {:controller => :tickets, :action => :index, :sort => "priority", :asc => "true"} %></th>
<% end %>
    <th>コメント数</th>
<% if(params[:asc]) %>
    <th><%= link_to "更新時刻", {:controller => :tickets, :action => :index, :sort => "updated_at"} %></th>
<% else %>
    <th><%= link_to "更新時刻", {:controller => :tickets, :action => :index, :sort => "updated_at", :asc => "true"} %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <% next if(ticket.finished) %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.get_status %></td>
    <td><%= ticket.person %></td>
    <td><%= ticket.get_priority %></td>
    <td><%= ticket.comments.count %></td>
    <td><%= ticket.update_j %></td>
    <td><%= link_to '詳細', project_ticket_path(ticket.project_id,ticket) %></td>
    <td><%= link_to '編集', edit_project_ticket_path(ticket.project_id,ticket) %></td>
    <td><%= link_to '削除', project_ticket_path(ticket.project_id,ticket), method: :delete, data: { confirm: 'よろしいですか?' } %></td>
    <td><%= link_to '▲', lift_project_ticket_path(ticket.project_id,ticket), method: :post %></td>
    <td><%= link_to '▼', lower_project_ticket_path(ticket.project_id,ticket), method: :post %></td>
  </tr>
<% end %>
</table>
<br>
終了済み(最新の10件)<br>
<%= link_to "全ての終了済みチケットを見る", :show_more_project_tickets %><br>
<table>
<% @tickets_finished.each_with_index do |ticket,i| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.get_status %></td>
    <td><%= ticket.person %></td>
    <td><%= ticket.get_priority %></td>
    <td><%= ticket.comments.count %></td>
    <td><%= link_to '詳細', project_ticket_path(ticket.project_id,ticket) %></td>
    <td><%= link_to '編集', edit_project_ticket_path(ticket.project_id,ticket) %></td>
    <td><%= link_to '削除', project_ticket_path(ticket.project_id,ticket), method: :delete, data: { confirm: 'よろしいですか?' } %></td>
  </tr>
<% end %>
</table>