<h1><%= @project.name %> チケット一覧</h1>

<table>
  <tr>
    <th>チケット名</th>
    <th>タイプ</th>
    <th>担当者</th>
    <th>優先度</th>
    <th>進行</th>
    <th>コメント数</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.get_status %></td>
    <td><%= ticket.person %></td>
    <td><%= ticket.get_priority %></td>
    <td><% if(ticket.finished) %>済<% end %></td>
    <td><%= ticket.comments.count %></td>
    <td><%= link_to '詳細', project_ticket_path(ticket.project_id,ticket) %></td>
    <td><%= link_to '編集', edit_project_ticket_path(ticket.project_id,ticket) %></td>
    <td><%= link_to '削除', project_ticket_path(ticket.project_id,ticket), method: :delete, data: { confirm: 'よろしいですか?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規チケット',  new_project_ticket_path(params[:project_id]) %>
