<p id="notice"><%= notice %></p>

<p>
  <b>チケット名</b>
  <%= @ticket.name %>
</p>

<p>
  <b>属性</b>
  <%= @ticket.get_status %>
</p>

<p>
  <b>担当者</b>
  <%= @ticket.person %>
</p>

<p>
  <b>優先度</b>
  <%= @ticket.get_priority %>
</p>

<% if(@ticket.finished) %>
<p>
  <b><font color="red">終了済み</font></b>
</p>
<% end %>

<p>
  <b>作成日時</b>
  <%= @ticket.created_at %>
</p>

<p>
  <b>更新日時</b>
  <%= @ticket.updated_at %>
</p>

<p>
  <b>メモ</b>
  <%= simple_format(@ticket.memo) %>
</p>

<p>
  <b>コメント</b><br>
  <% @comments.each_with_index do |c,i| %>
  <%= i+1 %>. 
  <%= c.comment %>
  (<%= c.name %>)
  <%= c.updated_at %>
  <%= link_to '削除', comment_path(c), method: :delete, data: { confirm: 'よろしいですか?' } %>
  <br>
  <% end %>
  <% @new_comment = Comment.new(:ticket_id => @ticket.id) %>
  <%= form_for(@new_comment) do |f| %>
  名前
  <%= f.text_field :name, :size => 8 %>
  <%= f.text_field :comment %>
  <%= f.hidden_field :ticket_id %>
  <%= f.submit "書き込み" %>
  <% end %>
</p>


<%= link_to '編集', edit_project_ticket_path(@ticket.project_id,@ticket) %> |
<%= link_to '戻る', project_tickets_path %>
