<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "プロジェクト名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manager, "ユーザー名" %><br />
    <%= f.text_field :manager %>
  </div>
  <div class="field">
    <%= f.label :passward, "パスワード" %><br />
    <%= f.password_field :passward %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
