<h1>プロジェクト一覧</h1>

<table>
  <tr>
    <th>プロジェクト名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= link_to 'チケット一覧', project %></td>
    <td><%= link_to '編集', edit_project_path(project) %></td>
    <td><%= link_to '削除', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'プロジェクト作成', new_project_path %>
