<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Manager:</b>
  <%= @project.manager %>
</p>

<p>
  <b>Passward:</b>
  <%= @project.passward %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
